# Database (Supabase PostgreSQL / PostgreSQL Connection String)
DATABASE_URL="postgresql://postgres.[YOUR_PROJECT_REF]:[YOUR_PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[YOUR_PROJECT_REF]:[YOUR_PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

# Smart Contract (Ethereum Sepolia Testnet)
NEXT_PUBLIC_CONTRACT_ADDRESS="0xd60b490890afc529ca3bbe55059215a0636d79de"
NEXT_PUBLIC_SEPOLIA_CONTRACT_ADDRESS="0xd60b490890afc529ca3bbe55059215a0636d79de"
NEXT_PUBLIC_CHAIN_ID="11155111"
NEXT_PUBLIC_SEPOLIA_RPC_URL="https://ethereum-sepolia-rpc.publicnode.com"
